.TrailsContainer {
  background-color: #F5F5F5;
  border: .5px solid #989898;
  border-radius: 3px;
  font-size: 12px;
  height: 500px;
  margin: 10px 30px 10px 10px;
  overflow: scroll;
  padding: 10px;
  text-align: left;
  width: 45%;
}

.Trails-info-subheading {
  font-size: 18px;
}