.Home {
  background-image: url("../../assets/images/topo-gray.png");
  height: 90vh;
}

.Home-welcome {
  color: #eff5e7;
  font-family: 'Roboto Slab', serif;
  font-size: 50px;
  margin: 0;
  padding: 20px;
  text-align: center;
}

.Home-nps-info {
  background-color: #F5F5F5;
  border-radius: 3px;
  display: flex;
  margin: auto;
  width: 90%;
}

.Home-arrowhead {
  height: 300px;
  margin: 20px;
}

.Home-info-wrapper {
  padding: 10px;
  text-align: left;
}
