.Park {
  font-family: "Roboto Slab";
  background-image: url("../../assets/images/topo.png");
  border: .5px solid #989898;
  padding: 10px;
  margin: 28px;
}

.Park-card {
  border: 2px solid black;
  display: flex;
  margin: auto;
  width: 90%;
}

.Park-heading {
  font-size: 50px;
  margin: 10px;
  text-align: center;
  text-decoration: underline;
}

.Park-subheading {
  font-size: 21px;
  margin: 10px;
  text-align: center;
}

.Park-images-wrapper {
  display: flex;
  margin: auto;
  width: 80%;
}

.Park-card-image {
  height: 400px;
  margin: 10px;
  object-fit: cover;
  width: 500px;
}

.Park-card-info {
  margin: 10px;
  text-align: center;
  width: 50%;
}