//Brown #473328 Sign backgrounds/edges

//Cocoa Brown #916451 Background
//Dark Blue-Green #1f4045 Trees and Buffalo Outline
//Cream #e3d8ab Mountain and Lake
//White #eff5e7 Lettering

//my dark grey #585858
// my light grey #989898

.App {
  background-image: url("../../assets/images/topo-gray.png");
  text-align: center;
  min-height: 100vh;
}

.App-welcome {
  color: #eff5e7;
  font-family: 'Roboto Slab', serif;
  font-size: 50px;
  margin: 10px;
}

.App-loading {
  border-radius: 1000px;
  height: 482px;
  object-fit: none;
  padding: 10px;
}

.App-header {
  align-items: center;
  background-color: #989898;
  color: white;
  display: flex;
  height: 100px;
  justify-content: center;
}

.App-nav-text {
  color: #eff5e7;
  font-family: "NationalPark-Regular";
  font-size: 36px;
  padding: 20px;
}

.App-nav-text:hover {
  color: #585858;
}

.App-nav-text:active {
  color: #473328;
}

@media only screen and (max-width: 1024px) {
  .App-nav-text {
    font-size: 18px;
    justify-content: space-evenly;
  }

  .Home {
    height: 100%;
  }

  .Home-nps-info {
    display: block;
  }

  .Home-arrowhead {
    display: block;
    margin: auto;
    padding-top: 20px;
  }

  .Home-info-wrapper {
    display: inline-block;
  }

  .ParksContainer {
    justify-content: space-around;
  }

  .Park-button-wrapper {
    flex-direction: column;
    margin: auto;
    width: 38%;
  }

  .Park-fave-button {
    background-color: #989898;
    color: black;
    width: 100%;
  }

  .Park-card-image {
    height: 325px;
    width: 325px;
  }

  .Park-info-cards {
    display: block;
  }

  .Park-card-info,
  .TrailsContainer {
    margin: 10px auto;
    width: 90%;
  }
}

@media only screen and (max-width: 785px) {
  .App-header {
    flex-direction: column;
    height: 175px;
  }
  
  .App-nav-text {
    font-size: 21px;
    padding: 3px;
  }
  
  .Park-images-wrapper {
    display: block;
    width: 83%;
  }

  .Park-card-image {
    margin: 10px;
  }
}