body {
  font-family: "NationalPark-Regular";
}

.App {
  text-align: center;
}

.App-header {
  align-items: center;
  background-color: grey;
  color: white;
  display: flex;
  height: 50px;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.NavText {
  font-family: "NationalPark-Heavy";
  font-size: 36px;
  padding: 20px;
}
